00_data/*/CC*/*fastq.gz
00_data/*/CC*/*fastqc.zip
00_data/*/CC*/*sge*
00_data/*/MultiQC*/multiqc_data
00_data/raw/XCC-2932/
00_data/raw/SRA_files/
00_data/raw/runGetBases.sge*
00_data/trimmed/CC-*
00_data/trimmed/old_reports/
00_data/trimmed/runMultiQC.divided.sge*
01_mapping/Reference/*/*.fa.gz
01_mapping/Reference/*/*.fna
01_mapping/Reference/C_reinhardtii_v5.5_reference.*
01_mapping/Reference/genome_v5.5/CHECKSUMS
01_mapping/Reference/genome_v5.5/CHECKSUMS_2
01_mapping/Reference/genome_v5.5/README
01_mapping/Reference/runCreateSequenceDictionary.sge*
01_mapping/CC-*
01_mapping/OLD_HardMask_Mapping/
01b_mapping_contigs/CC-*
01b_mapping_contigs/Reference/C_reinhardtii_v5.5_reference.contigs.*
01b_mapping_contigs/Reference/genome/ABCN02.1.fsa_nt
01b_mapping_contigs/Reference/other_sequences/*.fna
02*/CC-*
03_barcoding/without_CC-2932/InterruptedRun
03_barcoding/without_CC-2932/OLD_pipeline
03_barcoding/mt_minus_only/Chlamy_p21_w500_mt_minus.*
03_barcoding/mt_*_only/mt_*_samples.tsv
03_barcoding/mt_minus_only/runBamboozleBarcoding.p21_w500.mt_minus.sge.*
03b_barcoding_contigs/OLD*
03b_barcoding_contigs/Chlamy_p21_w500_ContigLevel*
03b_barcoding_contigs/runBamboozleBarcoding.p21_w500.sge.*
03b_barcoding_contigs/mating_type_locus_BLAST/runBLASTn.sge.*
03b_barcoding_contigs/mt_*_only/runBamboozleBarcoding.p21_w500.mt*.sge.*
MeetingNotes.md
